.primary_btn{
padding: 18px 10px;
background-color: black;
color:white;
min-width: 220px;
border-radius: 5px;
display: flex;
align-items: center;
gap: 6px;
justify-content: center;
font-size: 14px;
cursor: pointer;
}
.outline_btn{
padding: 18px 10px;
border: 1px solid black;
color:black;
background-color: #fff;
min-width: 220px;
border-radius: 5px;
display: flex;
align-items: center;
gap: 6px;
justify-content: center;
font-size: 14px;
width: 100%;
cursor: pointer;
}
