.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 10px;
    }
    /* .navigation img{
        width: 30px;
    } */
    
    .navigation ul{
        display: flex;
        list-style: none;
        gap: 20px;
        font-weight: 500;
        cursor: pointer;
        
    }
 