.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: end;
    padding-bottom: 30px;
}
.top_btn{
    display: flex;
    gap: 32px;
}
.contact_from{
 display: flex;
 flex-direction: column;
 gap: 24px;   
}
.contact_from form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    height: 40px;
    padding: 0 8px;
}
.form_control label{
position: absolute;
top: -10px;
left: 8px;
background-color: #fff;
padding: 0 10px;
/* font-size: 14px; */
}