*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* :root{
    --red:#d01c28;
    --gray:#2e2e2e;
} */
.container{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 12px;
}
.main_container{
    display: flex;
    flex-direction: column;
    height: calc(100vh- 72px);
    justify-content: end;
}
